/* Confidential Issues Detail Page */
[data-page="projects:issues:show"]:not(.screenshare-mode-checked)
  .layout-page
  .content-wrapper,
[data-page="projects:issues:show"]:not(.screenshare-mode-checked)
  .right-sidebar-expanded {
  padding-top: 10000px !important;
}

[data-page="projects:issues:show"]:not(.screenshare-mode-checked) {
  content: "Checking if issue confidential...";
  position: fixed;
  width: 100vw;
  color: black !important;
  top: 8rem;
  left: 0;
  text-align: center;
}

/* All other features */
.screenshare-mode-enabled .screenshare-mode-redacted > */* selectors */ {
  display: none !important;
}

.screenshare-mode-enabled .screenshare-mode-redacted .screenshare-mode-show {
  display: block !important;
}

.screenshare-mode-enabled .screenshare-mode-redacted:before {
  content: "Redacted due to screenshare mode";
}

.screenshare-button--enabled {
  text-decoration: underline 3px var(--orange);
}
